<td><%= id %></td>
<td><%= first_name %></td>
<td><%= last_name %></td>
<td><%= email %></td>
<td><%= phone %></td>
<td><%= save_errors %></td>

<td>
  <% if(save_errors){ %>
    <a href="#/<%= id %>/edit">Save</a>   
  <% } %>
</td>
